<h1>Login</h1>
<div class="container">
  <%= form_with url: '/admin/login', :html => {:class => "row g-3"} do |f| %>
    <div class="col-12">
      <%= f.label :email, "Email", class: "form-label" %>
      <%= f.email_field :email, class: "form-control", :required => true %>
    </div>
    <div class="col-12">
      <%= f.label :password, "Password", class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="col-12">
      <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
