<% content_for :header do %>
  <%= render 'layouts/header' %>
<% end %>

<div class="container">
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %>"><%= msg %></div>
  <% end %>
  <% if @admin_member && @admin_member.errors.any? %>
    <% @admin_member.errors.each do |error| %>
      <div class="alert alert-danger" role="alert">
      <%= error.full_message %>
      </div>
    <% end %>
  <% end %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to('/admin/admin_members/new') do %>
      <button class="btn btn-secondary btn-sm" type="button" aria-expanded="false" style="margin: 0.5rem 0;">
        Create
      </button>
    <% end %>
  </div>
  <div class="row justify-content-start">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @admin_members.each do |admin_member| %>
          <tr>
            <td><%= admin_member.id %></td>
            <td><%= admin_member.name %></td>
            <td><%= admin_member.email %></td>
            <td>
              <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to("/admin/admin_members/#{admin_member.id}", class: 'dropdown-item') do %>Detail<% end %></li>
                  <li><%= link_to("/admin/admin_members/#{admin_member.id}/edit", class: 'dropdown-item') do %>Edit<% end %></li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @admin_members %>
</div>
